body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(179, 189, 68);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
